/* General layout */
.xx-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Card container */
.xx-card {
  width: 40%;
  border-radius: 1.5rem;
  background: linear-gradient(to top, #0c0a09, #292524);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  position: relative;
  height: 86vh;
}

/* Image grid container */
.xx-images {
  height: 100%;
  padding: 6rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.xx-images img {
  width: 300rem;
  height: 100%;
  aspect-ratio: 1/6;
  object-fit: cover;

  border-radius: 0.75rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8);
  transition: transform 0.5s ease, rotate 0.5s ease;
  position: relative;
}

/* Specific image adjustments */
.xx-img.xx-left {
  left: -0.5rem;
  transform: rotate(-2deg);
}

.xx-img.xx-center {
  z-index: 2;
}

.xx-img.xx-right {
  left: 0.5rem;
  transform: rotate(2deg);
}

/* Hover effects on group */
.xx-group:hover .xx-images {
  transform: scale(1.1);
}

.xx-group:hover .xx-images img {
  transform: translateY(-4rem);
}

.xx-group:hover .xx-img.xx-left {
  transform: translate(-1.5rem, -4rem) rotate(-5deg);
}

.xx-group:hover .xx-img.xx-right {
  transform: translate(1.5rem, -4rem) rotate(5deg);
}

/* Info panel */
.xx-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5%;
  height: 25.6%;
  padding: 2rem;
  background: rgba(30, 41, 59, 0.5);
  backdrop-filter: blur(10px);
  border-top: 2px solid #57534e;
  border-radius: 1.5rem;
  color: white;
  transition: transform 0.5s ease;
}

.xx-group:hover .xx-info {
  transform: rotateX(-10deg);
}

/* Text styles */
.xx-info h5 {
  font-size: 2.25rem; /* text-4xl */
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.xx-info p {
  font-weight: lighter;
}

.xx-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  z-index: 10;
}

.xx-dot {
  width: 12px;
  height: 12px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.xx-dot:hover {
  background-color: var(--yellow-color);
  cursor: pointer;
}

.xx-dot-selected {
  background-color: var(--yellow-color);
}
