.skillContainer {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-height: 100vh;
}

.mySkillsHeading {
    padding: 5px 0;
    align-self: center;
    font-size: var(--extraLargeFont);
    font-weight: 900;
    color: var(--primary-color);
    background: linear-gradient(30deg, var(--gradient2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.mySkillsHeading2 {
    padding: 5px 0;
    color: var(--black-color3);
    align-self: center;
    font-size: var(--mediumFont);
}

.mySkills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    padding: 20px 0;
}

.mySkillsLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px
}

.mySkillsLeftPL {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mySkillsLeftPL p {
    font-size: var(--smallFont);
}

.mySkillsLeftPL div {
    height: 9px;
    width: 100%;
    background-color: var(--black-color2);
    border-radius: 20px;
    position: relative;
}

.mySkillsLeftPL div::before {
    position: absolute;
    content: " ";
    z-index: 1;
    height: 9px;
    background-color: var(--primary-color);
    background: linear-gradient(90deg, var(--gradient1));
    border-radius: 20px;
    box-shadow: 0px 0px 2px var(--primary-color);
}

.mySkillsLeftReact div::before {
    width: 90%;
    animation: 4s animateReact alternate;
}

@keyframes animateReact {
    0% {
        width: 0%;
    }

    100% {
        width: 90%
    }
}

.mySkillsLeftExpress div::before {
    width: 77%;
    animation: 4s animateExpress alternate;
}

@keyframes animateExpress {
    0% {
        width: 0%;
    }

    100% {
        width: 77%
    }
}

.mySkillsLeftNext div::before {
    width: 80%;
    animation: 4s animateNext alternate;
}

@keyframes animateNext {
    0% {
        width: 0%;
    }

    100% {
        width: 80%
    }
}

.mySkillsLeftVue div::before {
    width: 45%;
    animation: 4s animateVue alternate;
}

@keyframes animateVue {
    0% {
        width: 0%;
    }

    100% {
        width: 45%
    }
}

.mySkillsLeftMYSQL div::before {
    width: 86%;
    animation: 4s animateMYSQL alternate;
}

@keyframes animateMYSQL {
    0% {
        width: 0%;
    }

    100% {
        width: 86%
    }
}

.mySkillsLeftPOSTGRES div::before {
    width: 70%;
    animation: 4s animatePOSTGRES alternate;
}

@keyframes animatePOSTGRES {
    0% {
        width: 0%;
    }

    100% {
        width: 70%
    }
}

.mySkillsLeftMongDB div::before {
    width: 45%;
    animation: 4s animateMongDB alternate;
}

@keyframes animateMongDB {
    0% {
        width: 0%;
    }

    100% {
        width: 45%
    }
}

.mySkillsRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circleContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.pieContaine {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.pie {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.pie[q="50"] {
    background-image: conic-gradient(var(--gradient1) 180deg, var(--black-color2) 180deg);
}

.pie[q="60"] {
    background-image: conic-gradient(var(--gradient1) 216deg, var(--black-color2) 216deg);
}

.pie[q="75"] {
    background-image: conic-gradient(var(--gradient1) 270deg, var(--black-color2) 270deg);
}

.pie[q="80"] {
    background-image: conic-gradient(var(--gradient1) 288deg, var(--black-color2) 288deg);
}

@media screen and (max-width: 800px) {
    .mySkills {
        flex-direction: column;
        gap: 35px;
    }
}