.componentButton {
    font-size: var(--mediumFont);
    background-color: var(--primary-color);
    color: var(--black-color1);
    display: flex;
    align-self: center;
    padding: 12px 20px;
    border-radius: 16px;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s;
}

.componentButton:active {
    transform: translateY(6px);
}

.componentButton:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--primary-color) 60%, transparent);
}