.componentButton {
    font-size: var(--mediumFont);
    background-color: var(--primary-color);
    background: linear-gradient(to right, var(--gradient3));
    color: var(--black-color1);
    display: flex;
    align-self: center;
    padding: 12px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.componentButton:active {
    transform: translateY(6px);
}

.componentButton:hover {
    cursor: pointer;
    opacity: 0.7;
}