.services-container {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.sLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-awsome-services {
  font-size: var(--largeFont);
  font-weight: 900;
  color: var(--black-color1);
  margin-bottom: 10px;
  text-align: center;
}

.stroke-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: transparent;
  -webkit-text-stroke: var(--primary-color);
  -webkit-text-stroke-width: 1px;
}

.l-services {
  color: var(--primary-color);
}

.cv-resume {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.sRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  min-width: 60vh;
}

.sRightDiv {
  display: flex;
  color: var(--black-color3);
  border-radius: 7px;
  font-size: var(--largeFont);
  animation: 1s animateSRightDiv alternate;
}

@keyframes animateSRightDiv {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.sRightDiv1 {
  display: flex;
  color: var(--black-color3);
  border-radius: 7px;
  font-size: var(--largeFont);
  animation: 1s animateSRightDiv1 alternate;
}

@keyframes animateSRightDiv1 {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .sRight {
    padding: 20px 10px;
    min-width: 35vh;
  }
}
