.scroll-progress-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate360 5s infinite linear; 
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__background {
   opacity: 0.3;
}

@keyframes rotate360 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

svg circle[fill="white"] {
  animation: pulse 1.2s infinite alternate;
}

@keyframes pulse {
  0% {
    r: 5;
    opacity: 0.7;
  }
  100% {
    r: 7;
    opacity: 1;
  }
}
