:root {
  --extraLargeFont: 45px;
  --largeFont: 27px;
  --mediumFont: 16px;
  --smallFont: 14px;
  --extraSmallFont: 10px;
  --padding: 5px 200px;
  --primary-color: #6366f1;
  --yellow-color: #efac01;
  --black-color0: #121212;
  --black-color1: #000000;
  --black-color2: #2d2c2c;
  --black-color3: #9f9f9f;
  --red-color: #e11d48;
  --gradient1: #e97c00, #e52e71, #6610f2, #009688;
  --gradient2: #e11d48, #6366f1, #e11d48;
  --gradient3: #c72c41, #d946ef, #b663f1;

  color-scheme: dark;
}

.light {
  --extraLargeFont: 45px;
  --largeFont: 27px;
  --mediumFont: 16px;
  --smallFont: 14px;
  --extraSmallFont: 10px;
  --padding: 5px 200px;
  --primary-color: #6366f1;
  --yellow-color: #efac01;
  --black-color0: #e0fff9;
  --black-color1: #ffffff;
  --black-color2: #e0fff9;
  --black-color3: #787878;
  --red-color: #e11d48;
  --gradient1: #ffda7d, #48ffed, #6366f1;
  --gradient2: #e11d48, #6366f1, #e11d48;
  --gradient3: #ff6d80, #d946ef, #b663f1;

  color-scheme: light;
}

html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--black-color1);
  color: var(--black-color3);
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

input,
button,
p,
textarea {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: var(--black-color1);
}

@media screen and (max-width: 800px) {
  :root {
    --extraLargeFont: 35px;
    --largeFont: 20px;
    --mediumFont: 14px;
    --smallFont: 12px;
    --extraSmallFont: 9px;
    --padding: 10px 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.1s;
}

::selection {
  background-color: var(--primary-color);
  color: var(--black-color2);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-left: 1px solid var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--gradient3));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
