.contactContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: var(--padding);
    padding-bottom: 30px;
    padding-top: 30px;
    gap: 50px;
    position: relative;
}

.c-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex: 0.8;
    gap: 30px;
}

.c-left div {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.contact-us {
    color: var(--primary-color);
    font-size: var(--extraLargeFont);
    font-weight: 700;
}

.contactPhone {
    display: flex;
    flex-direction: row;
    color: var(--black-color3);
    align-items: center;
    gap: 10px;
    font-size: var(--mediumFont);
    padding-left: 10px;
}

.c-right {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    flex: 1;
}

.c-text {
    font-size: var(--mediumFont);
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--black-color3);
    outline: none;
    transition: all 0.4s;
    background-color: color-mix(in srgb, var(--black-color2) 60%, transparent);
    resize: vertical;
}

.c-email:focus {
    animation: 0.4s animateAnInput alternate;
    background-color: var(--black-color2);
}

@keyframes animateAnInput {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media screen and (max-width: 800px) {
    .contactContainer {
        flex-direction: column;
        align-items: center;
    }

    .contact-us {
        text-align: center;
    }

    .c-left {
        width: 90%;
    }

    .c-right {
        width: 90%;
    }
}